<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".presentation.ui.detail.StoryDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_story_detail"
            android:theme="@style/Theme.CircleFeed">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC35dI3eteRu3og3Y-bB04oefLokO-3-M4" />

        <activity
            android:name=".presentation.ui.map.StoryMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_story_maps" />
        <activity
            android:name=".presentation.ui.poststory.CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presentation.ui.poststory.PostStoryActivity"
            android:exported="false"
            android:label="@string/title_activity_post_story"
            android:theme="@style/Theme.CircleFeed">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".presentation.StoryActivity"
            android:exported="false"
            android:label="@string/title_activity_story"
            android:theme="@style/Theme.CircleFeed">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.alfikri.rizky.circlefeed"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>